@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*HEADER*/
.icon a{
  color: black;
}

.icon a:hover{
  color: #ffa6a8;
}

body{
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

.container  h3 {
  font-size: 80px;
  padding-bottom: 15px;
  background: none;
}

.navbar-nav {
  justify-content: flex-end;
  padding-left: 15px;
  padding-right: 15px;
}

.icon > i {
  width: 40px;
  height: 30px;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}
.label_menu {
  background-color: #e62e05;
  color: white;
  padding: 0px 3px;
  font-size: 8px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0px;
  left: none;
}

.dropdown {
  font-family: "Quicksand", sans-serif;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 500;
}

.dropdown-item:hover {
  color: #ffa6a8;
  background: white;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.col-sm-7 {
  font-size: 13px;
}

/* BREAD CRUMB */
.bread_crumb{
  margin-top: 100px;
  margin-left: 20px;
}

.bread_crumb a{
  color: black;
  text-decoration: none;
}

.bread_crumb a:hover{
  color: #f9af47;
}

.infor_product{
  margin-right: 20px;
}

.product{
  display: flex;
  margin-top: 10px;
}

.name{
  font-family: "El Messiri", sans-serif;
  font-size: larger;
  font-weight: 500;
}

.old_price{
  color: #464545;
  font-weight: bold;
}

.new_price{
  color: #f9af47;
  font-weight: bold;
  font-size: larger;
}

.vote i{
  color: #f9af47;
}

.vote span{
  color: #464545;
  font-size: smaller;
}

.summary{
  color: #464545;
}

.content{
  margin-right: 20px;
  text-align: center;
}

.card{
  margin-bottom: 20px;
}

.card-title{
  color: black;
}

.card-body hr{
  background-color: black;
  width: 50px;
}

.active{
  display: flex;
}

/*QUANTITY PLUS MINUS*/
.js-qty{
  height: 65px;
  margin-top: 20px;
  display: inline-block;
  width: 90px;
  border: 1px solid black;
  margin-right: 15px;
  position: relative;
  max-width: 100px;
  min-width: 60px;
  overflow: visible;
}

.js-qty .qty-minus{
  right: 0px;
  bottom: 0;
  height: 50%;
  width: 42px;
  left: unset;
  top: unset;
  border-left: 1px solid black !important;
  position: absolute;
  transition: .3s;
  padding: 0;
  border: 0;
  font-weight: 400;
  font-size: 14px;
  background-color: white;
  outline: none;
}

.qty-minus:active{
  outline: none;
}

.qty-plus:active{
  outline: none;
}

.js-qty-num{
  width: 45px;
  border: none;
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  border-radius: 0;
}

.js-qty input{
  display: block;
  background: none;
  margin: 0;
}

input{
  overflow: visible;
}

.js-qty .qty-plus{
  right: 0;
  height: 50%;
  top: 0;
  width: 42px;
  position: absolute;
  transition: .3s;
  padding: 0;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid black;
  border-left: 1px solid black  !important;
  background-color: white;
  outline: none;
}

/*ADD TO CART*/
.addtocart{
  display: inline-block;
  margin: 20px 10px 20px 0;
}

.addtocart a{
  background-color: #f9af47;
  color: white;
  display: inline-block;
  padding: 20px 50px;
  border: none;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  letter-spacing: .2em;
  font-weight: 500;
  position: relative;
  border-radius: 0;
  transition: .3s;
  text-decoration: none;
}

.addtocart a:hover{
  background-color: black;
  color: white;
}

/*BUY IT NOW*/
.buyitnow{
  display: inline-block;
}

.buyitnow input{
  margin: 20px 10px 20px 0;
  display: inline-block;
}

.button{
  background-color: black;
  color: white;
  display: inline-block;
  padding: 18px 65px;
  border: none;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  letter-spacing: .2em;
  font-weight: 500;
  position: relative;
  border-radius: 0;
  transition: .3s;
}

.button:hover{
  background-color: #f9af47;
  color: white;
}

/*FOOTER*/
.footer{
  padding: 50px;
  background-color: black;
}

.top-footer{
  padding-bottom: 50px;
}

.hr{
  margin-right: 200px;
  background-color: white;
  width: 150px;
}

.title_border{
  color: #f9af47;
  font-size: 21px;
  font-weight: 600;
}

.content_footer{
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.list-unstyled li a{
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.list-unstyled li a:hover{
  color: #f9af47;
  text-decoration: none;
}

.underline_hover{
  color: #7d7b7b;
}

.underline_hover:hover{
  color: #f9af47;
  text-decoration: none;
}

.content{
  color: #7d7b7b;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.content a{
  color: #7d7b7b;
}

.content a:hover{
  color: #ffa6a8;
}
